rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Match any document in the 'users' collection
    match /users/{userId} {
      // Allow read/write access only if the request is made by an authenticated user whose ID matches the document ID
      allow read, write: if request.auth.uid == userId;
    }
  }
}
